In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv('Corona_NLP_test.csv')

In [3]:
X = data.iloc[:,:-1] # Target
y = data.iloc[:,-1] # Feature

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# 70% data untuk pelatihan
print("Jumlah data pelatihan:", len(X_train))

# 30% data untuk pengujian
print("Jumlah data pengujian:", len(X_test))

Jumlah data pelatihan: 2658
Jumlah data pengujian: 1140

In [11]:
from sklearn.preprocessing import MinMaxScaler


data_copy_min_max_scaler = data.copy()  # Salin dataset terlebih dahulu

# Pilih atribut yang ingin dinormalisasi 
attribute_to_normalize = 'ScreenName'

# Inisialisasi Min-Max Scaler
scaler = MinMaxScaler()

# Ubah nilai atribut yang dipilih ke dalam bentuk matriks kolom dan lakukan normalisasi
data_copy_min_max_scaler[[attribute_to_normalize]] = scaler.fit_transform(data_copy_min_max_scaler[[attribute_to_normalize]])

# Tampilkan dataset setelah normalisasi
print(data_copy_min_max_scaler)

      UserName  ScreenName             Location     TweetAt  \
0            1    0.000000                  NYC  02-03-2020
1            2    0.000263          Seattle, WA  02-03-2020
2            3    0.000527                  NaN  02-03-2020
3            4    0.000790          Chicagoland  02-03-2020
4            5    0.001053  Melbourne, Victoria  03-03-2020
...        ...         ...                  ...         ...
3793      3794    0.998947            Israel ??  16-03-2020
3794      3795    0.999210       Farmington, NM  16-03-2020
3795      3796    0.999473        Haverford, PA  16-03-2020
3796      3797    0.999737                  NaN  16-03-2020
3797      3798    1.000000  Arlington, Virginia  16-03-2020

                                          OriginalTweet           Sentiment
0     TRENDING: New Yorkers encounter empty supermar...  Extremely Negative
1     When I couldn't find hand sanitizer at Fred Me...            Positive
2     Find out how you can protect yourself and love...  Extremely Positive
3     #Panic buying hits #NewYork City as anxious sh...            Negative
4     #toiletpaper #dunnypaper #coronavirus #coronav...             Neutral
...                                                 ...                 ...
3793  Meanwhile In A Supermarket in Israel -- People...            Positive
3794  Did you panic buy a lot of non-perishable item...            Negative
3795  Asst Prof of Economics @cconces was on @NBCPhi...             Neutral
3796  Gov need to do somethings instead of biar je r...  Extremely Negative
3797  I and @ForestandPaper members are committed to...  Extremely Positive

[3798 rows x 6 columns]

In [12]:
from sklearn.preprocessing import StandardScaler

# Misalnya 'data' adalah DataFrame Anda
data_copy_standard = data.copy()  # Salin dataset terlebih dahulu

# Inisialisasi Standard Scaler
scaler = StandardScaler()

# Pilih atribut yang ingin di-standarisasi 
attribute_to_standardize = 'UserName'

# Standarisasi atribut yang dipilih
data_copy_standard[[attribute_to_standardize]] = scaler.fit_transform(data_copy_standard[[attribute_to_standardize]])

# Tampilkan dataset setelah standarisasi
print(data_copy_standard)

      UserName  ScreenName             Location     TweetAt  \
0    -1.731595       44953                  NYC  02-03-2020
1    -1.730683       44954          Seattle, WA  02-03-2020
2    -1.729771       44955                  NaN  02-03-2020
3    -1.728859       44956          Chicagoland  02-03-2020
4    -1.727946       44957  Melbourne, Victoria  03-03-2020
...        ...         ...                  ...         ...
3793  1.727946       48746            Israel ??  16-03-2020
3794  1.728859       48747       Farmington, NM  16-03-2020
3795  1.729771       48748        Haverford, PA  16-03-2020
3796  1.730683       48749                  NaN  16-03-2020
3797  1.731595       48750  Arlington, Virginia  16-03-2020

                                          OriginalTweet           Sentiment
0     TRENDING: New Yorkers encounter empty supermar...  Extremely Negative
1     When I couldn't find hand sanitizer at Fred Me...            Positive
2     Find out how you can protect yourself and love...  Extremely Positive
3     #Panic buying hits #NewYork City as anxious sh...            Negative
4     #toiletpaper #dunnypaper #coronavirus #coronav...             Neutral
...                                                 ...                 ...
3793  Meanwhile In A Supermarket in Israel -- People...            Positive
3794  Did you panic buy a lot of non-perishable item...            Negative
3795  Asst Prof of Economics @cconces was on @NBCPhi...             Neutral
3796  Gov need to do somethings instead of biar je r...  Extremely Negative
3797  I and @ForestandPaper members are committed to...  Extremely Positive

[3798 rows x 6 columns]

In [13]:
#diluar modul menghapus nilai non numeric
print("Nilai unik dalam kolom 'TweetAt':")
print(data['TweetAt'].unique())
# Mengubah nilai non-numeric dalam kolom 'days_before' menjadi NaN
data['TweetAt'] = pd.to_numeric(data['TweetAt'], errors='coerce')

Nilai unik dalam kolom 'TweetAt':
['02-03-2020' '03-03-2020' '04-03-2020' '05-03-2020' '06-03-2020'
 '07-03-2020' '08-03-2020' '09-03-2020' '10-03-2020' '11-03-2020'
 '12-03-2020' '13-03-2020' '14-03-2020' '15-03-2020' '16-03-2020']

In [14]:
print("Nilai unik dalam kolom 'TweetAt':")
print(data['TweetAt'].unique())

Nilai unik dalam kolom 'TweetAt':
[nan]

In [16]:
print("Nilai unik dalam kolom 'TweetAt':")
print(data['OriginalTweet'].unique())
# Mengganti nilai 'Wednesday' menjadi 'Wed' dalam kolom 'day_of_week'
data['OriginalTweet'] = data['OriginalTweet'].replace('TRENDING: New Yorkers encounter empty supermarket shelves (pictured, Wegmans in Brooklyn), sold-out ')
data['OriginalTweet'] = data['OriginalTweet'].replace('Find out how you can protect yourself and loved ones from #coronavirus. ?')

Nilai unik dalam kolom 'TweetAt':
['TRENDING: New Yorkers encounter empty supermarket shelves (pictured, Wegmans in Brooklyn), sold-out online grocers (FoodKick, MaxDelivery) as #coronavirus-fearing shoppers stock up https://t.co/Gr76pcrLWh https://t.co/ivMKMsqdT1'
 "When I couldn't find hand sanitizer at Fred Meyer, I turned to #Amazon. But $114.97 for a 2 pack of Purell??!!Check out how  #coronavirus concerns are driving up prices. https://t.co/ygbipBflMY"
 'Find out how you can protect yourself and loved ones from #coronavirus. ?'
 ...
 "Asst Prof of Economics @cconces was on @NBCPhiladelphia talking about her recent research on coronavirus' impact on the economy. Watch it here (starting at :33): https://t.co/8tfYNoro5l"
 "Gov need to do somethings instead of biar je rakyat assume 'lockdown' ke or even worst. Harini semua supermarket crowded like hell. Lagi mudah virus tu tersebar ?? #COVID2019"
 'I and @ForestandPaper members are committed to the safety of our employees and our end-users. We are monitoring COVID-19. Rest assured that tissue manufacturers are continuing to produce and ship products.  https://t.co/qF6hclCAEq https://t.co/xyvbNsFeXA']

In [17]:
print("Nilai unik dalam kolom 'TweetAt':")
print(data['OriginalTweet'].unique())

Nilai unik dalam kolom 'TweetAt':
['TRENDING: New Yorkers encounter empty supermarket shelves (pictured, Wegmans in Brooklyn), sold-out online grocers (FoodKick, MaxDelivery) as #coronavirus-fearing shoppers stock up https://t.co/Gr76pcrLWh https://t.co/ivMKMsqdT1'
 "When I couldn't find hand sanitizer at Fred Meyer, I turned to #Amazon. But $114.97 for a 2 pack of Purell??!!Check out how  #coronavirus concerns are driving up prices. https://t.co/ygbipBflMY"
 '#Panic buying hits #NewYork City as anxious shoppers stock up on food&amp;medical supplies after #healthcare worker in her 30s becomes #BigApple 1st confirmed #coronavirus patient OR a #Bloomberg staged event?\r\r\n\r\r\nhttps://t.co/IASiReGPC4\r\r\n\r\r\n#QAnon #QAnon2018 #QAnon2020 \r\r\n#Election2020 #CDC https://t.co/29isZOewxu'
 ...
 "Asst Prof of Economics @cconces was on @NBCPhiladelphia talking about her recent research on coronavirus' impact on the economy. Watch it here (starting at :33): https://t.co/8tfYNoro5l"
 "Gov need to do somethings instead of biar je rakyat assume 'lockdown' ke or even worst. Harini semua supermarket crowded like hell. Lagi mudah virus tu tersebar ?? #COVID2019"
 'I and @ForestandPaper members are committed to the safety of our employees and our end-users. We are monitoring COVID-19. Rest assured that tissue manufacturers are continuing to produce and ship products.  https://t.co/qF6hclCAEq https://t.co/xyvbNsFeXA']

In [18]:
print("Jumlah Record Yang memiliki nilai null: ")
print(data.isnull().sum())

Jumlah Record Yang memiliki nilai null:
UserName            0
ScreenName          0
Location          834
TweetAt          3798
OriginalTweet       0
Sentiment           0
dtype: int64

In [24]:
# Menentukan strategi untuk mengisi nilai null
strategies = {
    'UserName': data['UserName'].median(),
    'ScreenName': data['ScreenName'].mean(),
    'TweetAt': data['TweetAt'].mean(),
    'Sentiment': data['Sentiment'].mode()[0]
}
# Mengisi nilai null sesuai dengan strategi
data_cleaned = data.fillna(value=strategies)

# Cetak dataset setelah data cleaning
print("\nDataset setelah data cleaning:")

print("Jumlah Record Yang memiliki nilai null: ")
print(data_cleaned.isnull().sum())

Dataset setelah data cleaning:
Jumlah Record Yang memiliki nilai null:
UserName            0
ScreenName          0
Location          834
TweetAt          3798
OriginalTweet       0
Sentiment           0
dtype: int64

In [26]:
print("Data yang memiliki nilai duplikat")
data.duplicated().sum()

Data yang memiliki nilai duplikat

0

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       3798 non-null   int64
 1   ScreenName     3798 non-null   int64
 2   Location       2964 non-null   object
 3   TweetAt        0 non-null      float64
 4   OriginalTweet  3798 non-null   object
 5   Sentiment      3798 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 178.2+ KB

In [33]:
data_cleaned['UserName'] = data_cleaned['UserName'].astype(int)
data_cleaned['ScreenName'] = data_cleaned['ScreenName'].astype(int)

In [34]:
data_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       3798 non-null   int32
 1   ScreenName     3798 non-null   int32
 2   Location       2964 non-null   object
 3   TweetAt        0 non-null      float64
 4   OriginalTweet  3798 non-null   object
 5   Sentiment      3798 non-null   object
dtypes: float64(1), int32(2), object(3)
memory usage: 148.5+ KB

In [35]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder


# Menggunakan OneHotEncoder
encoder = OneHotEncoder(sparse=False)  # 'sparse=False' menghasilkan array NumPy, 'drop='first'' menghasilkan kategori biner

# Melakukan One-Hot Encoding pada kolom 'time'
encoded_data = encoder.fit_transform(data_cleaned[['Sentiment']])

# Membuat DataFrame baru dengan hasil encoding
encoded_df = pd.DataFrame(encoded_data, columns= encoder.get_feature_names_out(['Sentiment']))

# Menggabungkan hasil encoding dengan dataset asli
data_encoded = pd.concat([data_cleaned, encoded_df], axis=1)

# Menampilkan hasil
data_encoded.head(20)

c:\Users\Adtsa\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\preprocessing\_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,Sentiment_Extremely Negative,Sentiment_Extremely Positive,Sentiment_Negative,Sentiment_Neutral,Sentiment_Positive
0,1,44953,NYC,NaN,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative,1.0,0.0,0.0,0.0,0.0
1,2,44954,"Seattle, WA",NaN,When I couldn't find hand sanitizer at Fred Me...,Positive,0.0,0.0,0.0,0.0,1.0
2,3,44955,NaN,NaN,When I couldn't find hand sanitizer at Fred Me...,Extremely Positive,0.0,1.0,0.0,0.0,0.0
3,4,44956,Chicagoland,NaN,#Panic buying hits #NewYork City as anxious sh...,Negative,0.0,0.0,1.0,0.0,0.0
4,5,44957,"Melbourne, Victoria",NaN,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral,0.0,0.0,0.0,1.0,0.0
5,6,44958,Los Angeles,NaN,Do you remember the last time you paid $2.99 a...,Neutral,0.0,0.0,0.0,1.0,0.0
6,7,44959,NaN,NaN,Voting in the age of #coronavirus = hand sanit...,Positive,0.0,0.0,0.0,0.0,1.0
7,8,44960,"Geneva, Switzerland",NaN,"@DrTedros ""We cant stop #COVID19 without prot...",Neutral,0.0,0.0,0.0,1.0,0.0
8,9,44961,NaN,NaN,HI TWITTER! I am a pharmacist. I sell hand san...,Extremely Negative,1.0,0.0,0.0,0.0,0.0
9,10,44962,"Dublin, Ireland",NaN,Anyone been in a supermarket over the last few...,Extremely Positive,0.0,1.0,0.0,0.0,0.0
10,11,44963,"Boksburg, South Africa",NaN,Best quality couches at unbelievably low price...,Positive,0.0,0.0,0.0,0.0,1.0
11,12,44964,New Delhi,NaN,Beware of counterfeits trying to sell fake mas...,Extremely Negative,1.0,0.0,0.0,0.0,0.0
12,13,44965,"USA, PA",NaN,Panic food buying in Germany due to #coronavir...,Extremely Negative,1.0,0.0,0.0,0.0,0.0
13,14,44966,NaN,NaN,"#Covid_19 Went to the Grocery Store, turns out...",Extremely Positive,0.0,1.0,0.0,0.0,0.0
14,15,44967,"Washington, DC",NaN,While we were busy watching election returns a...,Positive,0.0,0.0,0.0,0.0,1.0
15,16,44968,Bengaluru,NaN,#AirSewa \r\r\n\r\r\n@flyspicejet is not provi...,Extremely Negative,1.0,0.0,0.0,0.0,0.0
16,17,44969,Mumbai,NaN,What Precautionary measures have you all taken...,Extremely Positive,0.0,1.0,0.0,0.0,0.0
17,18,44970,"Toronto, Ontario",NaN,When youre stockpiling food &amp; other suppl...,Neutral,0.0,0.0,0.0,1.0,0.0
18,19,44971,NaN,NaN,That's about a week from now. A bit optimistic...,Positive,0.0,0.0,0.0,0.0,1.0
19,20,44972,Tallahassee,NaN,Studies show the #coronavirus like #COVID19 ca...,Extremely Positive,0.0,1.0,0.0,0.0,0.0